<html xmlns:th="http://www.thymeleaf.org/">
    <head>
        <title>Start Page</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Bookings</h1>
        <a th:href="@{/}"> Back to main </a>
        <br/>
        <br/>
        <form th:action="@{/filterBookings}" method="post">
            <label for="bookingDate">Date:</label>
            <input type="datetime-local" name="bookingDateStr" th:value="${bookingDateStr}"/>&nbsp;
            <input type="submit" name="searchBookings" value="Search Bookings"/>
            <br/><br/>

            <div th:if="${!bookings.empty}">
                <table border="2">
                    <tr>
                        <th>Date</th>
                        <th>Last Name</th>
                        <th>First Name</th>
                        <th>Table Size</th>
                    </tr>
                    <tr th:each="booking : ${bookings}">
                        <td th:text="${booking.bookingDate}"></td>
                        <td th:text="${booking.lastName}"></td>
                        <td th:text="${booking.firstName}"></td>
                        <td th:text="${booking.tableSize}"></td>
                    </tr>
                </table>
            </div>
            <div th:if="${bookings.empty}">
                <p th:text="${emptyBooking}"></p>
            </div>
        </form>

    </body>
</html>
